{% extends 'base.html' %}
{% block title %} Blog {% endblock %}


{% block body %}
 <div class="container-fluid">
     <div class="mx-auto">
     <h1>Your Notes</h1>
     </div>


    <div class="col-md-9 row">
        {% block content %}


        <div class="col-lg-3">
            <div class="panel panel-default">
                  <!-- left Default panel contents -->
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    <p>
                  <a href="{% url "noteupload" %}">
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;Upload Your Notes
                  </a>
                        </p>
                  </div>
              </div>

        </div>
        <div class="col-lg-9">
            <div class="container-fluid">
            <div class="row">
                {% for obj in notes %}
               <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ obj.name }}<hr>
                                {{ obj.institution }}<hr>
                            </div>
                            <div class="panel-body">
                                {{ obj.filename }}
                            </div>
                            <div class="panel-footer">
                                <a href="{{ obj.notefile.url }}">View/Download</a>
                                <blockquote>{{ obj.timestamp }}</blockquote>
                            </div>


                        </div>
                </div>

            {% endfor %}

            </div>


            </div>


            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}">Next</a>
                    {% endif %}
                </span>
        </div>
        </div>

      </div>
    </div>



         {% endblock %}

{% endblock %}
