


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>{% block title %}Open Engineering {% endblock %}</title>
    {% load staticfiles %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body class="container-fluid">

  <div class="jumbotron" id="top">

    <h1 class="display-3">Power System Engineering</h1>
    <h2> Mathematical Way For Power And Energy </h2>

  </div>

  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- LOGO-->
          <div class = "navbar-header">
              <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = "#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand " href="{% url 'power:homepage' %} ">Home</a>
          </div>
          <!--items-->

          <div class = "collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">

                  <li class = "">
                      <a href="{% url 'power:Introduction' %}">
                          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp;
                          Power Engineering
                      </a>

                  </li>
                  <li class = "">
                      <a href="">
                          <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> &nbsp;
                          Computer Solutions
                      </a>

                  </li>
                  <li class = "">
                      <a href="">
                          <span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp;
                          Students Site
                      </a>

                  </li>

              </ul>
              <form class="navbar-form navbar-left" role="search" method="get" action="">
                  <div class="form-group">
                      <input type="text" class="form-control" name="q" value="">
                  </div>
                  <button type="button" class="btn btn-default"> Search</button>
              </form>

              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="{% url 'power:Upload' %}">
                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Upload Your Article
                      </a>
                    </li>
                  </ul>



              <form class="navbar-form navbar-left" role="search" method = "get" action="#">


              </form>


          </div>
      </div>
  </nav>

  <div class="row">
      {% block body %}

          <h1>{% block heading %}{% endblock %}</h1>

      {% endblock %}

  </div>

      <!--block of code will be continued -->


  <footer class="jumbotron">
      <div class="row" >
            <div class="col-md-4 col-sm-6 footerleft ">
               <h6 class="heading2"><strong>POWER SYSTEM ENGINEERING</strong></h6><br>
                <p><i class="fa fa-phone"></i> Developed by: Deependra Neupane</p>
              <p><i class="fa fa-map-pin"></i> Gaindakot-1, Nawalparasi, Western Region, Nepal &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <p><i class="fa fa-phone"></i> Phone (Nepal):  +977-9846642367</p>

              <p><i class="fa fa-envelope"></i> E-mail: deependran.neupane@gmail.com</p>

            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
              <h6 class="heading7">GENERAL LINKS</h6>
              <ul class="footer-ul">
                <li><a href="#"> Career</a></li>
                <li><a href="#"> Privacy Policy</a></li>
                <li><a href="#"> Terms &amp; Conditions</a></li>
                <li><a href="#"> Client Gateway</a></li>
                <li><a href="#"> Ranking</a></li>
                <li><a href="#"> Case Studies</a></li>
                <li><a href="#"> Frequently Ask Questions</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
              <h6 class="heading7">LATEST POST</h6>
              <div class="post">
                <p>Site published: <span>June-14-2017</span></p>

              </div>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">SHARE ON</h6>
              <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <div class="fb-xfbml-parse-ignore">

                  <blockquote cite="https://www.facebook.com/facebook">
                      <a href="https://www.facebook.com/dipendra.neupane1">Facebook</a>
                  </blockquote>

                    <blockquote cite="https://www.plusgoogel.com">
                      <a href="https://plus.google.com/u/0/117518755352939766100">Google Plus</a>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
  </footer>


</body>
</html>
