.container-fluid{


}


.jumbotron.footer{

}



a{
    color: darkred;
}

.list-group-item.list-group-item-action{



}

.copyright{
    font-size: 7px;
    font-style: italic;
}


.article{
    text-align: justify;
}

.img-fluid{
    width: 600px;
    height:300px ;
}