{% extends 'base.html' %}
{% block title %} Power Engineering {% endblock %}


{% block body %}
     <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'power:Homepage' %}">Introduction</a></li>
      <li><a href="{% url 'power:Tutorials' %}">Articles</a></li>
      <li><a href="{% url 'notes:Notes' %}">Notes and Books</a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="col-md-9 row">

        <p>Power Engineering is a field of understanding about the electrical energy, its generation, transmission and distribution.
          It include the understanding of generation process, energy sources and harnessing the energy in the form of electrical and prepare
          it for the transmission to different load centres distributed across the region, country or whole world. The story still do not end up here
          The transmitted power is then utillised in different forms in different ways. It could be heating, lighting, cooling, traction and so on.
          </p>

          <p> Electrical energy has becoming the most demanded form of energy in today world. Without it the senerio of modern world  would totally disintegrated.
          So for effective generation, transmisson and distribution of this energy has to be done in scientific environment and this is possible through power system
          engineering.
        </p>

          In this website you will found most of the information related with power engineering. The branchs of Electrical Power Engineering can be done in following way:

        <div>
          <a href="https://ibb.co/dA1NcH"><img src="https://preview.ibb.co/iROqWc/branches.jpg" alt="branches" border="0"></a>
        </div>


    </div>
</div>
{% endblock %}
