{% extends 'base.html' %}
{% block title %} Power Engineering {% endblock %}


{% block body %}
     <div class="container-fluid">
        <div class="mx-auto">

        <nav class="navbar navbar-default">
            <div class="container">

            <ul class="nav navbar-nav">
              <li><a href="{% url 'power:Homepage' %}">Introduction</a></li>
              <li><a href="{% url 'power:Tutorials' %}">Tutorials</a></li>
              <li  class="active"><a href="{% url 'power:Notes' %}">Notes and Books</a></li>
            </ul>
          </div>
        </nav>

        </div>

        <!-- list items -->
   <div class="container-fluid">
         <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Instrumentation II</div>
                    <div class="panel-body"><img class="img-thumbnail" src="https://www.mnes-us.com/assets/user/upload/images/simulator2%282%2.jpg" alt="Chania"></div>
                    <div class="panel-footer"><a href="https://drive.google.com/open?id=1T79UHCE5GqrtexcJq4e2qxWgnMDus8qo">Download Here</a></div>
                    </div>

                </div>

               <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Engineering Professional Pratice</div>
                    <div class="panel-body"><img class="img-thumbnail" src="http://www.ioenotes.edu.np/media/2016/08/engineering-professional-practice-epp-1024x724.jpg" alt="Chania"></div>
                    <div class="panel-footer"><a href="https://drive.google.com/drive/folders/0B3QGjs1PLb0IUHpFX0dEWVBkYW8?usp=sharing">Download Here</a></div>
                    </div>

                </div>

                <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Organisation and Management</div>
                    <div class="panel-body"> <img class="img-thumbnail" src="https://image.slidesharecdn.com/amanppt1-160412071254/95/media-organisation-management-2-638.jpg?cb=1460445237" alt="Chania"> </div>
                    <div class="panel-footer"><a href="https://drive.google.com/open?id=0B3QGjs1PLb0Ia3psX0NBSl9KRDA">Download Here</a></div>
                    </div>

                </div>

                <div class="col-md-3 ">
                <div class="panel panel-default">
                <div class="panel-heading">Electric Traction and Heating</div>
                <div class="panel-body"> <img class="img-thumbnail" src="https://1.bp.blogspot.com/-c0-CHxaeSxY/V0FFVzSGz3I/AAAAAAAAA-I/-vPJmrsKB0Uo6kgA9npVNhTdJh0036IzACK4B/s1600/Catenary%2Bin%2BElectric%2Btraction.jpg" alt="Chania"> </div>
                <div class="panel-footer"><a href="https://drive.google.com/open?id=1u7TYW5Ef4SvBFFFeXRPnUeah3uOA_ybv">Download Here</a></div>
                </div>

            </div>

           <div class="col-md-3 ">
            <div class="panel panel-default">
            <div class="panel-heading">Machine II Questions</div>
            <div class="panel-body"> <img class="img-thumbnail"src="https://www.lucas-nuelle.com/images/axilon/NEUBILD/Versuche/E3/EMW20-h310-ar.jpg" alt="Chania"> </div>
            <div class="panel-footer"><a href="https://drive.google.com/open?id=16_FfdxHr0DqWSTtESYKvtoLR1t7fw2cI">Download Here</a></div>
            </div>

           </div>





           <div class="col-md-3 ">
            <div class="panel panel-default">
            <div class="panel-heading">Control Engineering</div>
            <div class="panel-body"> <img class="img-thumbnail" src="https://previews.123rf.com/images/radiantskies/radiantskies1211/radiantskies121102755/16530137-abstract-word-cloud-for-control-engineering-with-related-tags-and-terms.jpg" alt="Chania"> </div>
            <div class="panel-footer"><a href="https://drive.google.com/open?id=10TY-4dMIw92hWp5eoBXaPAtUeuHUgNEy">Download Here</a></div>
            </div>

            </div>







   </div>
</div>
{% endblock %}
