{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}
 <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'computer:Homepage' %}">Introduction</a></li>
      <li><a href="#">Matlab Basics</a></li>
      <li><a href="#">Simulink</a></li>
      <li><a href="{% url 'computer:Psat' %}">Power System Toolbox</a></li>
    </ul>
  </div>
</nav>

 </div>

</div>
{% endblock %}
