{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}
 <div class="container-fluid">
     <div class="mx-auto">


         <nav class="navbar navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'computer:Homepage' %}"><b>Introduction</b></a></li>
                    <li><a href="{% url 'computer:Matlab' %}"><b>MATLAB</b></a></li>
                    <li><a href="{% url 'computer:Simulink' %}"><b>SIMULINK</b></a></li>
                    <li><a href="{% url 'computer:Psat' %}"><b>Power System Toolbox</b></a></li>
                </ul>
            </div>
         </nav>

     </div>

        <div class="container">

            <div class="article">
            <p>Matlab is a scientific computational enviornment used by scientists, engineers, mathamaticians and programmers to model system, anaysing the
            system dynamics, developing algorithms and so on. In power engineering it plays a crucial role to model and understand the system. Since, power
            engineering deals with the systems having no direct visual observations, direct exprimental analysis can be very tedious. What the matlab it
                provies  an enviromnent where we can obesrve the electrical phenomena in form of data and ghaphical visualisation.</p>

            <p>
                It is one of the part of scientific computation where the problems is broken down into small parts and a suitable algoritm is applied in each
                and the final result is combined to observe results. But matlab provies very short hand operators and funtions which simplifies the whole
                algorithm, which were supposed to be used in classical moddeling, in to simple one.

            </p>

            <p>
                Here, we will focus in both procedural as well as graphical approach of problem solving in matlab. In procedural approache we write fucntions and
                codes to obtain results while in graphical approcach we drag and drop the funchtional blocks in a algorithmic sequence and run them to obtain
                the results. Both of the approaches has own importances and consequences. Here, we focus on modelling the electrical system and obesrving their
                response on different situation mathematically.

            </p>

                        <p><b>Here MATLAB  and SIMULINK are introduced you with different projects. This will help to
                            learn the software as well as develop the skill to develop projects in MATLAB  and SIMULINK.
                            You will learn their use through examples and
                        their explanations and analysis.
                            <hr>

                            <i>Your will enjoy.</i></b></p>

                <br><br>
                </div>
        </div>
 </div>
{% endblock %}
