{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}
 <div class="container-fluid">
 <div class="mx-auto">
     <h2>Introduction to Scientific Computation and Progamming</h2>

 </div>
    <div class="col-md-3 row">
        <div class="list-group">
          <a href="{% url 'computer:Homepage' %}" class="list-group-item active">Introduction</a>
          <a href="#" class="list-group-item">Matlab Basics</a>
          <a href="#" class="list-group-item">Simulink</a>
          <a href="{% url 'computer:Psat' %}" class="list-group-item">Power System Toolbox(Pat)</a>
        </div>
    </div>

    <div class="col-md-9 row">


    </div>
</div>
{% endblock %}
