{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}

    <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

   <ul class="nav navbar-nav">
      <li><a href="{% url 'computer:Homepage' %}">Introduction</a></li>
      <li><a href="{% url 'computer:Matlab' %}">Matlab Basics</a></li>
      <li><a href="{% url 'computer:Simulink' %}">Simulink</a></li>
      <li  class="active"><a href="{% url 'computer:Psat' %}">Power System Toolbox</a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="col-md-9 row">
<p>
    The Power System Analysis Toolbox (PSAT) is a Matlab toolbox for electric power system analysis and simulation.
    The command line version of PSAT is also GNU Octave compatible. All operations can
    be assessed by means of graphical user interfaces (GUIs) and a Simulink-based library provides an user-friendly tool for network design.
</p>


         <div class="container">


           <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Installing PSAT in MATLAB</div>
                        <img src="https://image.ibb.co/bZf7ux/Screenshot_14.png" class="img-thumbnail" >


                    <a href="{% url 'computer:PsatInstall' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>

             <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Introduction to PSAT in MATLAB</div>
                        <img src="https://image.ibb.co/ewWcwc/library.jpg" class="img-thumbnail" >

                    <a href="{% url 'computer:PsatIntro' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>

             <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Plotting in PSAT  in MATLAB</div>
                        <img src="https://image.ibb.co/neP2Ux/Screenshot_15.png" class="img-thumbnail" >

                    <a href="{% url 'computer:PsatPlot' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>

              <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Simple Load Flow in PSAT  in MATLAB</div>
                        <img src="https://image.ibb.co/gg6nex/load_flow.jpg" class="img-thumbnail" >

                    <a href="{% url 'computer:PsatLoadFlow' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>


             <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Learn From Examples in PSAT in MATLAB</div>
                        <img src="https://image.ibb.co/it2Sex/psat_examples.jpg" class="img-thumbnail" >

                    <a href="{% url 'computer:PsatExample' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>

              <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">Graphical Network in PSAT in MATLAB</div>
                        <img src="https://image.ibb.co/fKUUsH/visuallisation.jpg" class="img-thumbnail" >

                    <a href="{% url 'computer:PsatGraph' %}" class="badge badge-secondary">Details Here</a>
                    </div>

                </div>





   </div>

    </div>
</div>




{% endblock %}
