{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}

    <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

   <ul class="nav navbar-nav">
      <li><a href="{% url 'computer:Homepage' %}">Introduction</a></li>
      <li><a href="{% url 'computer:Matlab' %}">Matlab Basics</a></li>
      <li><a href="{% url 'computer:Simulink' %}">Simulink</a></li>
      <li  class="active"><a href="{% url 'computer:Psat' %}">Power System Toolbox</a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="col-md-9 row">
<p>
    The Power System Analysis Toolbox (PSAT) is a Matlab toolbox for electric power system analysis and simulation.
    The command line version of PSAT is also GNU Octave compatible. All operations can
    be assessed by means of graphical user interfaces (GUIs) and a Simulink-based library provides an user-friendly tool for network design.
</p>

        <article>
            <h3>Installing Psat Toolbox in Matlab</h3>
            <p> Here is my tutorial on how to integrate psat in matlab and use it.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eSUvXJtQSXQ" frameborder="0" allowfullscreen></iframe>
        </article>

         <article>
             <h3>Plotting in Psat.</h3>
            <p> Plotting is one of the important use of psat</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ftcaSp-uhtc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>

        Wait for further videos and tutorials.
    </div>
</div>




{% endblock %}
