{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}

    <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">
      <li><a href="{% url 'computer:Homepage' %}">Introduction</a></li>
      <li><a href="{% url 'computer:Matlab' %}">Matlab Basics</a></li>
      <li class="active"><a href="{% url 'computer:Simulink' %}">Simulink</a></li>
      <li ><a href="{% url 'computer:Psat' %}">Power System Toolbox</a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="col-md-9 row">
<p>
   Simulink, developed by MathWorks, is a graphical programming environment for modeling, simulating
    and analyzing multidomain dynamical systems. Its primary interface is a graphical block diagramming
    tool and a customizable set of block libraries. It offers tight integration with the rest of the MATLAB
    environment and can either drive MATLAB or be scripted from it. Simulink is widely used in automatic control
    and digital signal processing for multidomain simulation and Model-Based Design.
</p>

        <article>
            <h3>Here you can see the use of matlab simulink for simulating  three phase inverter.</h3>
            <p> Three Phase Inverter in Matlab Simulink</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7UVQTil_gC0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </article>


    </div>
</div>




{% endblock %}
