{% extends 'base.html' %}
{% block title %} Computer Solution {% endblock %}


{% block body %}

    <div class="container">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">
      <li><a href="{% url 'computer:Homepage' %}"><b>Introduction</b></a></li>
                    <li><a href="{% url 'computer:Matlab' %}"><b>MATLAB</b></a></li>
                    <li class="active"><a href="{% url 'computer:Simulink' %}"><b>SIMULINK</b></a></li>
                    <li><a href="{% url 'computer:Psat' %}"><b>Power System Toolbox</b></a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="container">

        <div class="article">
<p>
   Simulink, developed by MathWorks, is a graphical programming environment for modeling, simulating
    and analyzing multidomain dynamical systems. Its primary interface is a graphical block diagramming
    tool and a customizable set of block libraries. It offers tight integration with the rest of the MATLAB
    environment and can either drive MATLAB or be scripted from it. Simulink is widely used in automatic control
    and digital signal processing for multidomain simulation and Model-Based Design.
</p>


                <hr>

        <b>Let's start learning using this <a href="{% url 'computer:SimRC' %}"><B>LINK</B></a></b>


            <br><br><br><br>
            </div>
    </div>
</div>




{% endblock %}
