{% extends 'base.html' %}
{% block title %} Blog {% endblock %}


{% block body %}
 <div class="container-fluid">
     <div class="mx-auto">
     <h1>Questions and Answers</h1>
     </div>


    <div class="col-md-9 row">
        {% block content %}
             <!--
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}-->
            <div class="container-fluid">
                 <div class="row">
        <!-- left side //-->

        <div class="col-lg-3">
            <div class="panel panel-default">
                  <!-- left Default panel contents -->
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    <p></p>
                  </div>
              </div>

        </div>
        <div class="col-lg-6">
           {% for obj in object_list %}
                <div class="panel panel-default post">
                    <div class="row">
                        <div class="col-sm-4">
                            Author:
                        </div>

                        <div class="col-sm-8">
                            <div class="bubble">
                                <div class="pointer">
                                    <p> <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>


                                        <br><font size="2">{{ obj.timestamp }}</font></p>
                                    {% if obj.image %}
                                    <img src="{{ obj.image.url }}" class="img-responsive"/>
                                    {% endif %}
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                    </span>

                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}">Next</a>
                    {% endif %}
                </span>
        </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                  <!-- right hand  panel contents -->
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                    <p> </p>
                  </div>
              </div>
        </div>
      </div>
    </div>



         {% endblock %}


    </div>
</div>
{% endblock %}
