{% extends 'base.html' %}
{% block title %} Blog {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="custom_row_size">


        <div class="panel panel-default">
            <div class="panel-body">

                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                <input type="submit" value="Create Issue">
                </form>
            </div>

        </div>
    </div>

{% endblock %}
