{% extends 'base.html' %}
{% block title %} Blog {% endblock %}


{% block body %}

    <div class="container">
    <h2>{{ instance.title }}</h2>


        {% if instance.image %}
        <img src="{{ instance.image.url }}" class="img-responsive"/>
        {% endif %}
        {{ instance.user }}
        {{ instance.timestamp }}<br>





        <div class="lead">
            Comments:
        <form method="post" action="."> {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Post-Comment" class="btn btn-default">
        </form>

            <hr/>

            {% for comment in comments %}
                 <blockquote class="blockquote">
                    <p class="mb-0">{{ comment.content}}</p>
                    <footer class="blockquote-footer">{{ comment.user }} <cite title="Source Title">{{ comment.timestamp|timesince }} ago</cite></footer>
                </blockquote>
            {% endfor %}
            <hr/>
        </div>



        </div>
    </div>



{% endblock %}
