<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>{% block title %}Open Engineering {% endblock %}</title>
    {% load staticfiles %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-2782090758936141",
            enable_page_level_ads: true
          });
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body class="container-fluid">
 <div class="container">
 <div>
    <!-- Navigation bar -->
  <nav class="navbar navbar-default">
      <div class="container-fluid nav">
          <!-- LOGO-->
          <div class = "navbar-header">
              <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = "#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand " href="{% url 'power:Homepage' %} ">Home</a>
          </div>
          <!--items-->

          <div class = "collapse navbar-collapse" id="topNavBar">
              <ul class="nav navbar-nav">

                  <li class = "">
                      <a href="{% url 'power:Homepage' %}">
                          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp;
                          Power Engineering
                      </a>

                  </li>
                  <li class = "">
                      <a href="{% url 'computer:Homepage' %}">
                          <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> &nbsp;
                          Computer Solutions
                      </a>

                  </li>

              </ul>
          <!-- search bar
              <form class="navbar-form navbar-left" role="search" method="get" action="">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search" name="q" >
                  </div>
                  <input type="submit" value="Search" class="btn btn-default"></input>
              </form>
            -->



          </div>
      </div>
  </nav>
 </div>
  <div class="jumbotron" id="top">

    <h1 class="display-3">Power System Engineering</h1>
    <h2> Mathematical Way For Power And Energy </h2>

  </div>



  <div class="row">

      {% block body %}

          {% block heading %}{% endblock %}

      {% endblock %}

  </div>

      <!--block of code will be continued -->


  <footer class="jumbotron footer">
      <div class="row" >
            <div class="col-md-6 col-sm-6 footerleft ">
               <h6 class="heading2"><strong>POWER SYSTEM ENGINEERING</strong></h6><br>
                <p class="copyright">This website and its content is copyright of © Mr. Deependra Neupane 2017. All rights reserved.
                You may not, except with our express written permission, distribute or commercially exploit the content.
                    Nor may you transmit it or store it in any other website or other form of electronic retrieval system.
                </p>
                <p><i class="copyright"></i> E-mail: deependran.neupane@gmail.com</p>

            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
              <h6 class="heading7">GENERAL LINKS</h6>
              <ul class="footer-ul">
                <li><a href="http://www.wrc.edu.np/"> Western Region Campus</a></li>
                <li><a href="https://ioe.edu.np/">Institute of Engineering (IOE) </a></li>
                <li><a href="http://www.npibharatpur.org.np/"> Nepal Polytechnique Institute</a></li>
                <li><a href="https://www.ieee.org/index.html"> IEEE Explore</a></li>
                <li><a href="http://www.powersystem.org/"> PSE</a></li>
              </ul>
            </div>

            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">SHARE ON</h6>
                <div class="container-fluid">

                    <div class="col-md-3"><a target="_blank" title="follow me on facebook" href="http://www.facebook.com/PLACEHOLDER"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook40x40.png" border=2></a>
                    </div>
                    <div class="col-md-3"><a target="_blank" title="follow me on youtube" href="http://www.youtube.com/PLACEHOLDER"><img alt="follow me on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube40x40.png" border=0></a>
                    </div>
                    <div class="col-md-3"><a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram40x40.png" border=0></a>
                    </div>
                    <div class="col-md-3"><a target="_blank" title="follow me on google plus" href="https://plus.google.com/PLACEHOLDER"><img alt="follow me on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus40x40.png" border=0></a>
                    </div>

                </div>
            </div>
      </div>
  </footer>
 </div>




</body>
</html>
