{% extends 'base.html' %}
{% block title %} Power Engineering {% endblock %}


{% block body %}
     <div class="container-fluid">
        <div class="mx-auto">

        <nav class="navbar navbar-default">
            <div class="container">

            <ul class="nav navbar-nav">
              <li><a href="{% url 'power:Homepage' %}">Introduction</a></li>
              <li><a href="{% url 'power:Tutorials' %}">Tutorials</a></li>

                 <li class="active"><a href="{% url 'notes:Notes' %}">Notes and Books</a></li>

                <li><a href="{% url 'notes:UploadNotes' %}">Upload Notes</a></li>

            </ul>
          </div>
        </nav>

        </div>

        <!-- list items -->
   <div class="container-fluid">
       {% for note in noteslist %}

           <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading">{{ note.filename }}</div>
                        {{ note.name }}<hr>
                    {{ note.institution }} <hr>


                    <a href="{{ note.filelink }}" class="badge badge-secondary">Download Here</a>
                    </div>

                </div>

       {% endfor %}












   </div>
</div>
{% endblock %}
