{% extends 'base.html' %}
{% block title %} Power Engineering {% endblock %}


{% block body %}
     <div class="container-fluid">
        <div class="mx-auto">

        <nav class="navbar navbar-default">
            <div class="container">

            <ul class="nav navbar-nav">
              <li><a href="{% url 'power:Homepage' %}">Introduction</a></li>
              <li><a href="{% url 'power:Tutorials' %}">Articles</a></li>

                 <li class="active"><a href="{% url 'notes:Notes' %}">Notes and Books</a></li>

                <li><a href="{% url 'notes:UploadNotes' %}">Upload Notes</a></li>

            </ul>


                <form class="navbar-form navbar-left" method="get" action="">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search Note" name="q" value="{{ request.GET.q }}">
                    </div>
                    <button type="submit" class="btn btn-default"><b>Search</b></button>
              </form>


          </div>
        </nav>

        </div>

        <!-- list items -->
   <div class="container-fluid">





       {% for note in noteslist %}

           <div class="col-md-3 ">
                    <div class="panel panel-default">
                    <div class="panel-heading"><b  style="color: grey; font-size: 18px">{{ note.filename }}</b></div>
                      <em>Uploaded by</em>  <strong style="color: grey; font-size: 18px">{{ note.name }}</strong>from <mark>{{ note.institution }}</mark>


                    <a href="{{ note.filelink }}" class="badge badge-secondary">Download Here</a>
                    </div>

                </div>

       {% endfor %}


   </div>
</div>
{% endblock %}
