{% extends 'base.html' %}
{% block title %} Power Engineering {% endblock %}
{% load crispy_forms_tags %}

{% block body %}
     <div class="container-fluid">
 <div class="mx-auto">


          <nav class="navbar navbar-default">
  <div class="container">

    <ul class="nav navbar-nav">
      <li><a href="{% url 'power:Homepage' %}">Introduction</a></li>
      <li><a href="{% url 'power:Tutorials' %}">Articles</a></li>
     <li><a href="{% url 'notes:Notes' %}">Notes and Books</a></li>

        <li class="active"><a href="{% url 'notes:UploadNotes' %}">Upload Notes</a></li>
    </ul>
  </div>
</nav>

 </div>
    <div class="col-md-6 row">


        <form class="col-md-9" method="POST" action="">{% csrf_token %}
               {{ form|crispy }}

        <input type="submit" value="Upload Note" class="btn btn-default"/>
        </form>




    </div>

     <div class="col-md-6 row">
         <div class="article">
         <b style="font-size: 18px">Here is the help for uploading your file.</b> <hr>

         Fill up the form shown aside with your details. For the file link case, you have to use your any one of online storage system.
         It could be your onedrive storage, google drive storage or any other one. The file you want to share with other should be uploaded  to
         your <b>online drive storage</b> first. After uploading you will get a share link and this link is provided in <b>filelink</b> to share your file.
<hr>
         <p>
             <i><b>You will store your own file and you will share your file to everyone.</b></i> <hr>
         If you have <b> image</b> files, you can convert your image files in to
             pdf using this <a href="http://jpg2pdf.com/">link.</a> You have to upload the converted file in to drive and provide the share link.

         </p>

         <b>Note: Don't worry about your email address, it will not be shown to any one. It is just for checking whether uploader is
             fake or not and for other security purpose.</b>
         <hr>

         <p style="font-family: 'Arial Rounded MT Bold'; font-size: 20px;"> You Support Yourself
             <hr>
         <b>Thank you</b>


         </div>
         
         </p>
     </div>
</div>
{% endblock %}
